.textarea {
  resize: none;
  border: none;
  background-color: var(--whiteColor);
  text-align: center;
}

.form {
  position: relative;
}

.button {
  display: none;
  background-color: var(--whiteColor);
  border: none;
  position: fixed;
}

.button:hover {
  display: inline-block;
}

.textarea:hover ~ .button {
  display: inline-block;
}

.buttonGroup {
  background-color: var(--whiteColor);
  border: none;
  margin-top: 4px;
}
